@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    font-weight: 400;
    color: var();
    margin: 0;
    padding: 0;
}

body{
    --c1--:#ffff;
    --c2--:#292f36;
    --c3--:#4d5053;
    --c4--:#f4f0ec;
    --c5--:#cda274;
    --gap--:clamp(1rem, 5vw, 5rem);
    background: var(--c1--);
}

img{
    display: flex;
    max-width: 100%;
}

a{
    font-family: 'Lato', sans-serif;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

ul{
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswold', sans-serif;
    text-transform: capitalize;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}


.grid{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap--);
}

.container{
    max-width: 95%;
    margin: 0 auto;
}

/*Navigation*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px; 
    background: var(--c2--);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 100; 
}

.logo {
    display: flex; 
    align-items: center; 
}

.logo img {
    max-height: 40px;
}

.navigation {
    display: flex; 
    align-items: center; 
    gap: 20px; 
}

.navigation a {
    font-size: 12.7px; 
    color: var(--c1--); 
    font-weight: 500;
    text-decoration: none;
    padding: 10px; 
    position: relative; 
}

.navigation a::before {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0;
    height: 2px;
    background: var(--c4--);
    transition: width .3s;
}

.navigation a:hover::before {
    width: 100%; 
}
/* End of Navigation */

/* Services */
.main-services{
    width: 100vw;
    height: 60vh;
    background-size: contain;
    margin-top: -120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--c1--);
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(https://images.unsplash.com/photo-1565182999561-18d7dc61c393?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjQxNDUyfQ&w=1920);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services{
    text-align: center;
    color: var(--c1--);
    font-size: 2rem;
}
/* End of Services */

/* Comprehensive Marketing */


.marketing-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
}


.marketing-container h1 {
    text-align: center;
    color: #333; 
    font-size: 2rem; 
}

.list {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    max-width: 800px; 
    width: 100%; 
}

.item {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box; 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.item img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px; 
}

.item:hover {
    transform: scale(1.05); 
}


p {
    margin: 0;
    color: #333; 
    padding: 0 10px;
    font-family: 'Lato', sans-serif; 
}

.list .item:nth-of-type(2) {
    padding-top: 20px; 
}

.list .item:nth-of-type(4) p {
    margin-top: -10px; 
}

/* End of Comprehensive Marketing */

/* Selling Process */
.selling{
    background: var(--c4--);
    padding:  4rem 0;
}

.selling h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--c3--);
}

.selling .selling-container{
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap--);
}

.selling div{
    text-align: center;
}

.number{
    font-weight: 700;
    font-size: clamp(2rem, 7.5vw, 5rem);
    color: var(--c5--);
    transition: color 0.3s ease, transform 0.3s ease;
}

.number:hover{
    color: var(--c2--);
    transform: scale(1.1);
}

/* End of Selling Process */

/* card Containers */
.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start */
    background: var(--c3--);
}

.card {
    height: 500px;
    width: 350px; /* Set a fixed width to ensure all cards are equally sized */
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
}

.card img {
    height: 70%; /* Set image height to 70% of the card */
    width: 100%; /* Ensure images cover the card width */
}

.card:hover {
    cursor: pointer;
}

.intro {
    height: 150px; /* Initial height of intro */
    width: 100%; /* Full width of the card */
    padding: 6px;
    box-sizing: border-box;
    bottom: 0; /* Start from the bottom */
    position: absolute;
    background: var(--c5--);
    color: white;
    transition: height 0.3s ease, background 0.3s ease; /* Smooth transition */
}

.intro h1 {
    margin: 10px;
    font-size: 24px; /* Adjusted size for consistency */
    transition: transform 0.3s ease; /* Smooth transform */
}

.intro p {
    font-size: 14px; /* Adjusted size for consistency */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px; /* Adjusted margin */
    visibility: hidden; /* Start hidden */
    opacity: 0; /* Start with zero opacity */
    transition: visibility 0s 0.3s, opacity 0.3s ease; /* Delay visibility change until fade out */
    color: var(--c1--);
}

.card:hover .intro {
    height: 350px; /* Expanded height on hover */
    background: var(--c5--); /* Background color on hover */
}

.card:hover .intro h1 {
    transform: translateY(-10px); /* Move the heading up slightly */
}

.card:hover .intro p {
    visibility: visible; /* Make paragraph visible */
    opacity: 1; /* Fade in */
    transition: opacity 0.3s ease; /* Smooth opacity transition */
}

/* End of Card Containers */

/* Marketing */
.marketing{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.marketing h1{
    font-size: 40px;
}

.marketing p{
    text-align: center;
    margin: 0 20px;
}
/* End of Marketing */

/* Exposure */
.exposure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.exposure-items{
    text-align: center;
    margin: 0 10px;
}

.exposure-items h2{
    margin: 10px 0;
}

.exposure-items img{
    height: 30%;
    width: 100%;
    margin: 10px 0;
}

.exposure-items p{
    text-align: justify;
}
/* End of Exposure */

/* Global */

.global{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px;
}

.images{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.images img{
    max-width: 30%;
    height: auto;
    margin:0 5px;
}

.items{
    width: 80%;
    margin: 0 auto;
}

.items p{
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
}

/* End of Global */

/* Work with Us */
.work-container {
    margin: 70px 0;
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--c1--);
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(https://plus.unsplash.com/premium_photo-1680382578857-c331ead9ed51?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.work-items {
    margin: 10px 0; /* Add vertical spacing between items */
}

.work-items h1{
    font-size: 50px;
    color: var(--c1--);
}

.work-items p{
    font-size: 17px;
    color: var(--c1--);
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.work-items button{
    padding: 18px 40px; 
    font-size: 16px; 
    background-color: transparent;
    color: var(--c1--);
    font-family: 'Poppins', sans-serif;
    border: 2px solid white; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.work-items button:hover {
    background-color: white; 
    color: black; 
}

/* End of Work With Us */

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center; 
}

.modal-content {
    background-color: white; 
    padding: 20px; 
    border-radius: 5px; 
    width: 300px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
    cursor: pointer; 
}

.close:hover,
.close:focus {
    color: black; 
    text-decoration: none; 
    cursor: pointer; 
}

input[type="text"], 
input[type="phone"], 
input[type="email"], 
textarea {
    width: 100%; 
    padding: 12px; 
    border: none; 
    border-bottom: 2px solid #ccc; 
    background-color: transparent; 
    font-size: 16px; 
    color: #333; 
    outline: none; 
    transition: border-bottom-color 0.3s ease; 
    margin-bottom: 20px; 
}

input[type="text"]:focus, 
input[type="phone"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-bottom: 2px solid #000; 
}

textarea {
    height: 100px; /* Adjust height as needed */
}

button {
    padding: 18px 40px; 
    font-size: 16px; 
    font-family: 'Poppins', sans-serif; 
    border: 2px solid black; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    background-color: black; 
    color: white; 
    margin: 10px 0; 
}

button:hover {
    background-color: transparent; 
    color: var(--c2--); 
}

/* End of Modal */


/* Footer */
.main-footer {
    background-color: #ffffff;
    color: var(--c2--);
    padding: 40px 20px;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first {
    width: 60%;
}

.about h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #000;
}

.about h2 {
    color: #000;
    margin-top: 20px;
    font-size: 30px;
    border-bottom: 1px solid #333333;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.about p{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.subscribe {
    width: 35%;
}

.subscribe h1 {
    color: #000;
    font-size: 40px;
}

.subscribe h3 {
    color: #000;
    margin: 30px 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    padding: 12px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-bottom-color 0.3s ease;
    margin-bottom: 20px;
}

input[type="email"]:focus {
    border-bottom: 2px solid #000;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: translateY(2px);
}

.terms-label {
    display: flex;
    align-items: center;
}

button {
    padding: 18px 40px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: black;
    color: white;
    margin: 10px 0;
}

button:hover {
    background-color: transparent;
    color: var(--c2--);
}

.footer-images {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer-images img {
    margin: 0 10px;
    height: 40px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

.copyright p {
    margin: 5px 0;
    flex: 1;
    color: #000;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: #333333;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

label{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* End of Footer */

/* Media Query for Mobile */
@media (max-width: 480px) {
    .navigation {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: var(--c2--);
        padding: 10px 0;
    }

    .navigation.active {
        display: flex;
    }

    .toggle {
        display: block;
    }

    .toggle:hover {
        color: var(--c4--);
    }

    .marketing {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .exposure {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .global {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin: 20px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    .first, .subscribe {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .copyright {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}



@media (max-width: 768px) {
    .header {
        padding: 10px 20px;
    }

    .navigation {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    .toggle-button {
        font-size: 20px;
    }

    .main-services {
        height: 50vh;
    }

    .services {
        font-size: 1.5rem;
    }

    .marketing-container h1 {
        font-size: 1.5rem;
    }

    .list {
        flex-direction: column;
        align-items: center;
    }

    .item {
        flex: 1 1 100%;
        margin: 10px 0; /* Add vertical spacing */
    }

    .selling h1 {
        font-size: 2rem;
    }

    .card-container {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center cards */
    }

    .card {
        width: 90%; /* Use more width on small screens */
        margin: 20px 0; /* Add vertical margin */
    }

    .intro h1 {
        font-size: 20px;
    }

    .intro p {
        font-size: 12px;
    }

    .marketing h1 {
        font-size: 30px;
    }

    .exposure-items h2 {
        font-size: 18px;
    }

    .footer {
        font-size: 12px;
    }
}
